* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
  }
  
  .menu-toggle {
      display: none;
      cursor: pointer;
      font-size: 24px;
      color: #e0e0e0;
      margin-left: auto;
  }


.navbar {
    background-color: #c00; 
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 40px;
    position: relative;
}

.navbar .logo {
    font-weight: bold;
    font-size: 18px;
    padding-left: 20px;
}

.nav-links {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 100px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: opacity 0.3s;
}

.nav-links  a.active {
    font-weight: bold;
    color: #7C0406;
}

.nav-links a:hover {
    color: #7C0406;
}



.banner {
  position: relative;
  width: 100%;
  height: 350px; 
  overflow: hidden; 
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: center;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px 25px;
  border-radius: 6px;
}

.banner-text h2 {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
}

.banner-text p {
  margin-top: 5px;
  font-size: 14px;
}


.carousel {
  background-color: #bc080815;
  padding: 30px 0;
}

.logo-carrusel {
  width: 120px;              
  height: 120px;            
  object-fit: contain;      
  border-radius: 50%;       
  background-color: white;   
  padding: 15px;           
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;   
  align-items: center;       
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
}


.carousel-row {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 180px; 
  height: 200px;
}

.footer {
  background-color: #c00; 
  height: 120px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-nav {
  display: flex;
  gap: 60px; 
}

.footer-nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.footer-nav a:hover {
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 768px) {
 nav {
        justify-content: space-between;
    }
.nav-links {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0; 
        right: 0; 
        left: 0;
        width: 100%; 
        height: 100%; 
        background-color: #000000; 
        z-index: 10002;
        padding-top: 60px; 
        transition: transform 0.3s ease;
        transform: translateX(100%); 
        align-items: center;
        justify-content: center; 
    }

    .nav-links.active {
        display: flex; 
        transform: translateX(0);
    }

    .menu-toggle {
        display: block;
        margin-left: auto;
        position: relative;
        z-index: 10003;
        padding-right: 20px;
    }

    .carousel-row {
        gap: 1.5rem;
        padding: 1rem 0;
    }

  .logo-carrusel {
    width: 80px;
  }
}
